#settings-header {
	padding-top: 85px;
	background-color: #dbdbdb;
}

.settings-row {
	padding: 2% 10%;
}

.settings h1 {
	font-weight: bold;
}

.settings h3 {
	text-align: center;
	margin-bottom: 30px;
}

.settings {
	font-size: 16px;
}

.settings label {
	color: #919191;
}

.settings .has-feedback label~.form-control-feedback {
	top: 28px;
}