#copyright {
  text-align: center;
  color: #8c8c8c;
  background-color: #4d4d4d;
  font-size: 12px;
  padding-top: 3%;
  padding-bottom: 3%;
  h4 {
    margin-bottom: 20px;
  }
  a {
    color: #fff;
    background-color: transparent;
    overflow: hidden;
    transition: color 0.5s ease-in-out;
    margin: 0 20px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: #0688fe;
    }
    &:focus {
      text-decoration: none;
    }
  }
}