html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: "proxima-nova", sans-serif;
}

@font-face {
  font-family: "proxima-nova";
  src: url('../../lib/fonts/proxima-nova.woff') format("woff");
}

#banner {
  width: 100%;
  float: left;
  padding-top: 90px;
  -webkit-animation: fadein 1s; 
     -moz-animation: fadein 1s; 
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s; 
          animation: fadein 1s;
}

.standard-div {
  padding: 6% 10%;
  color: #fff;
}

.col-sm-4 {
  padding: 0 4%;
}

#why {
  background-color: #635f5b;
}

#why i {
  margin-right: 10px;
}

#services {
  background-color: #68abdd;
}

#clients {
  color: #68abdd;
}

#clients table {
  width: 100%;
}

#clients tr {
  padding: 2%;
}

#clients td {
  width: 25%;
  height: 20%;
}

#clients img {
  width: 75%;
  display: block;
  margin: auto;
}

.standard-div hr {
  width: 25%;
  border-top-color: #8c8c8c;
  padding-bottom: 50px;
}

#services hr {
  border-top-color: #fff;
}

#services {
  font-size: 1.4em;
}

#copyright {
  color: #8c8c8c;
  background-color: #4d4d4d;
  font-size: 1.4em;
  padding-top: 3%;
  padding-bottom: 3%;
}

.standard-div h1, .standard-div h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.standard-div h1, .standard-div h2, .standard-div h3 {
  line-height: 1.1;
  font-weight: bold;
}

.standard-div h1 {
  font-size: 48px;
}

.standard-div p {
  font-size: 1.4em;
}

#why p {
  padding-left: 30px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}