html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: "proxima-nova", sans-serif;
}

@font-face {
  font-family: "proxima-nova";
  src: url('../../lib/fonts/proxima-nova.woff') format("woff");
}

#banner-div {
  background-image: url("../../lib/images/landing.png");
  background-size: 100% auto;
  background-attachment: fixed;
  height: 52vw;
  background-position: center top;
  display: flex;
  position: relative;
}

.standard-div {
  padding: 6% 10%;
  color: #fff;
}

.col-sm-4 {
  padding: 0 4%;
}

#why {
  background-color: #635f5b;
}

#why i {
  margin-right: 10px;
}

#services {
  background-color: #68abdd;
}

#clients {
  color: #68abdd;
  background-color: #fff;
}

#clients table {
  width: 100%;
}

#clients tr {
  padding: 2%;
}

#clients td {
  width: 25%;
  height: 20%;
}

#clients img {
  width: 75%;
  display: block;
  margin: auto;
}

.standard-div hr {
  width: 25%;
  border-top-color: #8c8c8c;
  padding-bottom: 50px;
}

#services hr {
  border-top-color: #fff;
}

#services {
  font-size: 1.4em;
}

#copyright {
  color: #8c8c8c;
  background-color: #4d4d4d;
  font-size: 1.4em;
  padding-top: 3%;
  padding-bottom: 3%;
}

.standard-div h1, .standard-div h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

#why h2 {
  text-align: left;
}

.standard-div h1, .standard-div h2, .standard-div h3 {
  line-height: 1.1;
  font-weight: bold;
}

.standard-div h1 {
  font-size: 48px;
}

#why p {
  font-size: 1.4em;
}

#why .col-xs-2 {
  font-size: 30px;
  padding: 0;
  margin-top: 20px;
}

.arrowButton {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #292929;
  bottom: 0;
  text-align: center;
  height: 6.5vw;
  max-height: 50px;
  opacity: 0.96;
  display: block;
  cursor: pointer;
}

#scrollImage {
  width: 2vw;
  max-width: 20px;
  min-width: 10px;
  animation: animateArrow 1s infinite;
}

.landingImages {
  width: 50%;
  margin: auto;
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.landing-triangles {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#landing-left {
  animation: slideleft 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#landing-right {
  animation: slideright 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes slideleft {
  from { left: 0; }
  to { left: -100vw; }
}

@keyframes slideright {
  from { left: 0; }
  to { left: 100vw; }
}

@keyframes animateArrow {
  from { margin-top: 0.7vw; }
  to   { margin-top: 1.8vw; }
}