%pictures {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  height: 300px;
}

.picture-div {
  @extend %pictures;
  color: #fff;
  h1 {
    opacity: 0.7;
    margin: auto;
    font-weight: 600;
    text-align: center;
  }
}

#banner-background {
  @extend %pictures;
  background-image: url("lib/images/landing.jpg");
  width: inherit;
  height: inherit;
  position: absolute;
  animation: changeBrightness 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#banner-div {
  height: 100vh;
  width: 100%;
  margin: 0;
}

#services-element {
  background-image: url("lib/images/landing2.jpg");
}

#overview-element {
  width: 100%;
}

#partners {
  img {
    width: 75%;
    display: block;
    margin: auto;
  }
}

%overview-services {
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
}

%col-styles {
  height: 250px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

#services {
  @extend %overview-services;
  .row {
    width: 100%;
    margin: 0;
  }
  .col-sm-6 {
    @extend %col-styles;
    margin: auto;
    padding: 0;
    height: 250px;
    background-position: center;
    background-size: 150% auto;
    div {
      display: flex;
      height: 100%;
    }
    h2 {
      margin: auto;
      height: 100px;
      width: 350px;
      display: flex;
      background: radial-gradient(rgba(0,0,0,0.6) 60%, rgba(255,255,255,0) 70%);
      justify-content: center;
      align-items: center;
    }
  }
}

#overview {
  @extend %overview-services;
  .row {
    width: 100%;
    margin: 0;
  }
  .col-sm-4 {
    @extend %col-styles;
    display: flex;
    margin: 0;
    div {
      margin: auto;
    }
    &:hover {
      h4 {
        animation: slideup 0.25s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .description {
        display: block;
        animation: fadein 0.25s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }
  }
  .description {
    display: none;
    opacity: 0;
  }
  hr {
    border-top-color: #fff;
  }
}

#overview1 {
  background-image: url("lib/images/overview1.jpg");
}

#overview2 {
  background-image: url("lib/images/overview2.jpg");
}

#overview3 {
  background-image: url("lib/images/overview3.jpg");
}

.makeDim {
  animation: dimBackground 0.5s;
  animation-fill-mode: forwards;
}

.makeBright {
  animation: brightenBackground 0.5s;
  animation-fill-mode: forwards;
}

#service1 {
  background-image: url("lib/images/hvac.jpg");
  height: 500px !important;
  background-position: 60% 80% !important;
  background-size: 1600px auto !important;
}

#service2 {
  background-image: url("lib/images/displaycase.jpg");
}

#service3 {
  background-image: url("lib/images/opencase.jpg");
}

#service4 {
  background-image: url("lib/images/rack.jpg");
}

#service5 {
  background-image: url("lib/images/icemachine.jpg");
  float: right;
  height: 500px !important;
  background-size: auto 110% !important;
}

#service6 {
  background-image: url("lib/images/e2.jpg");
  background-size: 130% !important;
  background-position: 60% 35% !important;
}

#why {
  text-align: center;
  p {
    font-size: 14px;
  }
  i {
    color: #0688fe;
    font-size: 70px;
    margin-bottom: 15px;
  }
}

.subtitle {
  color: #949494;
}

#icon1 {
  margin-left: 10px;
}

.arrowButton {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #292929;
  bottom: 0;
  text-align: center;
  height: 6.5vw;
  min-height: 30px;
  max-height: 50px;
  opacity: 0.9;
  display: flex;
  cursor: pointer;
  img {
    margin: auto;
  }
}

#scrollImage {
  width: 2vw;
  max-width: 20px;
  min-width: 10px;
  animation: animateArrow 1s infinite;
}

#scroll-top {
  display: flex;
  height: 50px;
  background-color: #333;
  color: #fff;
  transition: color 0.5s ease-in-out;
  a {
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.landingImages {
  width: 50%;
  min-width: 300px;
  margin: auto;
  z-index: 0;
  opacity: 0;
  animation: fadein 0.1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.landing-triangles {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#landing-left {
  animation: slideleft 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#landing-right {
  animation: slideright 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@include keyframes(slideleft) {
  from { transform: translateX(0) }
  to { transform: translateX(-100%); }
}

@include keyframes(slideright) {
  from { transform: translateX(0) }
  to { transform: translateX(100%); }
}

@include keyframes(slideup) {
  from { margin-top: 0; }
  to { margin-top: -20px; }
}

@include keyframes(animateArrow) {
  from { margin-top: 0.7vw; }
  to   { margin-top: 1.8vw; }
}

@include keyframes(changeBrightness) {
  from { filter: brightness(100%); }
  to { filter: brightness(70%); }
}

@include keyframes(dimBackground) {
  0% { background-color: rgba(0,0,0,0); }
  100% { background-color: rgba(0,0,0,0.25); }
}

@include keyframes(brightenBackground) {
  0% { background-color: rgba(0,0,0,0.25); }
  100% { background-color: rgba(0,0,0,0); }
}