#auth-container {
	padding-top: 50px;
}

.loginPanel, .signupPanel, .guestPanel {
	margin: 50px 2% 0 2%;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.loginPanel h3, .signupPanel h3 {
	text-align: center;
	margin-bottom: 30px;
}

.auth-form-error .auth-form-message-error {
	margin-top: 10px;
	display: block;
}

.auth-form-error .auth-form-message-success {
	margin-left: 10px;
	color: #2ed638;
}

.auth-form .fa-spinner{
	font-size: 1.7em;
}

#auth-container .btn {
	float: right;
}

.name-form {
	width: 98%;
}

.name-col {
	padding: 0;
}

#lastName-form {
	float: right;
}