#email-form-name.col-sm-4,
#email-form-email.col-sm-4 {
	padding-left: 0;
}

#email-form-phone.col-sm-4,
#email-form-email.col-sm-4 {
	padding-right: 0;
}

#email-form-message {
	height: 300px;
}

#email-form-message .form-control {
	height: 265px;
}

#email-form-button {
	float: right;
}

#email-form-required {
	float: left;
}

.email-form-response {
	float: right;
  margin-right: 10px;
  margin-top: 7px;
}