#emailForm-name.col-sm-4 {
	padding-left: 0;
}

#emailForm-email.col-sm-4 {
	padding: 0;
}

#emailForm-phone.col-sm-4 {
	padding-right: 0;
}

#emailForm-message {
	height: 300px;
}

#emailForm-message .form-control {
	height: 265px;
}

#emailForm-button {
	float: right;
}

#emailForm-required {
	float: left;
}