#email-form-name,
#email-form-email {
	padding-left: 0 !important;
}

#email-form-phone,
#email-form-email {
	padding-right: 0 !important;
}

#email-form-message {
	height: 300px;
	.form-control {
		height: 265px;
	}
}

#email-form-button {
	float: right;
}

#email-form-required {
	float: left;
}

.email-form-response {
	float: right;
  margin-right: 10px;
  margin-top: 7px;
}