#navbar-container, #navbar {
	width: 100%;
	z-index: 1;
}

#navbar-container {
	position: fixed;
  background-color: rgba(255,255,255,1);
  max-height: 93px;
}

.navbar-header {
	height: 83px;
}

#navbar {
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.4em;
	font-weight: bold;
	border-radius: 0;
  border-color: transparent;
}

#navbar .collapse {
	padding-top: 0.25vw;
}

#navbar-logo {
	position: absolute;
	margin-top: -0.7vw;
	margin-left: 15px;
	max-width: 300px;
	width: 27vw;
	min-width: 180px;
}

#navbar a {
	color: #222;
	background-color: transparent;
}

#navbar-img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: -8px 0;
}

.nav-li {
	margin: 8px 0;
}

#navbar .dropdown-menu {
	-webkit-animation: fadein 0.2s; 
     -moz-animation: fadein 0.2s; 
      -ms-animation: fadein 0.2s;
       -o-animation: fadein 0.2s; 
          animation: fadein 0.2s;
}
