#navbar {
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	border-radius: 0;
}

#navbar a {
	color: #222;
	background-color: transparent;
}

#navbar .dropdown-menu {
	-webkit-animation: fadein 0.2s; 
     -moz-animation: fadein 0.2s; 
      -ms-animation: fadein 0.2s;
       -o-animation: fadein 0.2s; 
          animation: fadein 0.2s;
}