#navbar-container, #navbar {
	width: 100%;
	z-index: 1;
}

#navbar-container {
	position: fixed;
  background-color: rgba(255,255,255,1);
  max-height: 93px;
}

#navbar {
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.4em;
	font-weight: bold;
	border-radius: 0;
  border-color: transparent;
}

#navbar .collapse {
	padding-top: 0.25vw;
}

#navbar-logo {
	position: absolute;
	margin-top: -0.7vw;
	margin-left: 15px;
	max-width: 300px;
	width: 27vw;
	min-width: 180px;
}

#navbar a {
	color: #222;
	background-color: transparent;
}

#navbar a:hover {
	color: #db1b00;
	font-weight: bold;
}

#navbar a i {
	top: 45px;
  left: 42%;
  position: absolute;
  display: none;
	color: #5c5c5c;
}

#navbar a:hover i, #navbar a:focus i {
	display: block;
	top: 38px;
}

#navbar a:hover:not(:focus) i {
	animation: moveup 0.25s;
}

#navbar-img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: -8px 0;
}

.nav-li {
	margin: 8px 0;
}

#navbar .dropdown-menu {
	animation: fadein 0.2s;
}

#navbar .icon-bar {
	background-color: #000;
}

.navbar-toggle {
	background-color: transparent;
}

.navbar-toggle:active {
	background-color: #333;
}

@keyframes moveup {
	from { top: 45px; }
	to { top: 38px; }
}