%photo-settings {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.img-div {
	@extend %photo-settings;
}

#uploadedImg {
	@extend %photo-settings;
	&:hover {
		opacity: 0.7;
	}
	&:active {
		opacity: 0.5;
	}width: 200px;
	height: 200px;
	border-radius: 10px;
}

.dropzone {
	@extend %photo-settings;
	margin: 41px auto;
	p {
		margin-top: 75px;
		text-align: center;
		width: 200px;
		height: 200px;
		margin: 54px auto;
	  border-width: 2px;
	  border-color: rgb(102, 102, 102);
	  border-style: dashed;
	  border-radius: 10px;
	  padding: 36% 0;
	}
	&:hover {
		opacity: 0.7;
	}
	&:active {
		opacity: 0.5;
	}
}

#delete-photo {
	margin-top: -25px;
  margin-bottom: 5px;
  display: flex;
  button {
  	margin: auto;
  	min-width: 100px;
  }
}
