#uploadedImg, .dropzone, .img-div {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.dropzone {
	margin: 0 auto;
}

#uploadedImg:hover, .dropzone:hover {
	opacity: 0.7;
}

#uploadedImg:active, .dropzone:active {
	opacity: 0.5;
}

.dropzone p {
	margin-top: 75px;
	text-align: center;
	width: 200px;
	height: 200px;
	margin: 54px auto;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 10px;
  padding: 36% 0;
}

#delete-photo {
	margin: 23px 0;
	padding: 0 25%;
}

#delete-photo button {
	width: 100%;
}
